{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'myblogApp/main.css' %}">
    <link rel="shortcut icon" href="{% static 'myblogApp/img/blogs.png'  %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>{% block title %}Update Posts{% endblock %}</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <img style="height: 70px; width: 70px; border-radius: 50%; padding: 10px;" src="static/myblogApp/img/blogs.png" /> 
          <a class="navbar-brand mr-4" href="{% url 'myblogApp-home' %}"><span>Mr.Dollars</span>Official<span color="green">Blog</span></a> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
             
              {% if user.is_authenticated %} 
              <a class="nav-item nav-link" href="{% url 'myblogApp-home' %}">HOME</a>
              <a class="nav-item nav-link" href="{% url 'myblogApp-about' %}">ABOUT</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% comment %} <a class="nav-item nav-link" href="#">Login</a>
              class="nav-item nav-link" href="#">Register</a> 
              <button class="noselect">Create Post</button>  {% endcomment %}
              
              <a href="{% url 'profile' %}"><span style="text-decoration: underline; color: antiquewhite; padding: 10px; font-size: 18px;"><i>{{ request.user }}</i></span><img
                class="rounded-circle account-img" style="height: 55px; width: 55px;"
                id="profile-img"
                src="{{ user.profile.image.url }}"
                class="img-radius"
                alt="User-Profile-Image"
              /></a></div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <a href="{% url 'myblogApp-new' %}" id="auth_links" style="color: aliceblue; gap: 2px;"><button> Create Post</button></a> 
            </a>
            
            <span> </span>
            <span></span>
            <span></span>
            <span></span>
            <a href="{% url 'profile' %}" id="auth_links" style="color: aliceblue; "><button>Profile</button></a> 
          </a>
          
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <a href="{% url 'logout' %}" id="auth_links" style="color:aliceblue;"><button>Logout</button></a>
          </a>
            {% else %}   
            
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <a href="{% url 'login' %}" style="color: aliceblue; padding-left: 25rem;"><button>Login</button></a> 
          </a>
        
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <a href="{% url 'register' %}" style="color: aliceblue; "><button>Register</button></a> 
          </a>
            {% endif %}
            <!-- <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Neon button
            </a> -->
              
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {%  if messages %}
                  {% for message in messages %}
                      <div class="alert-{{ message.tags }}">
                          {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        <div class="col-md-8" style="margin-top: 10px;">
           {% block content %}{% endblock %}

           <article class="media content-section">
            <img
              class="rounded-cirlce article-img"
              src="{{ object.author.profile.image.url }}"
              alt=""
            />
            <div class="media-body">
              <div class="article-metadata">
                Author:
                <a class="mr-2" href="#" style="font-size: 16px; font-weight: 800">
                  {{ object.author }}</a
                >
                <small class="text-muted">{{ object.date_added }}</small><br><br>
                {% if object.author == user %}
                <div>
                <a class="btn btn-outline-info" href="{% url 'myblogApp-update' object.id %}"
                 style="font-weight: 800;" >Update Post</a
                >
                <a class="btn btn-danger" href="{% url 'blog-delete' object.id %}"
                 style="font-weight: 800;" >Delete Post</a
                ></div><br>
                {% endif %}
              </div>
          
              Topic:
              <a href="#" style="text-decoration: none">{{ object.title }}</a>
              
              <p class="article-content">{{ object.content }}</p>
              
              <p>{{ post.intro }}</p>

              <hr>
              <h2 class="subtitle"><h2 class="subtitle">Community Posts/COMMENTS SECTION COMMING SOON!!!</h2></h2>
              

    {% for comment in posts.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.name }} </strong> <small>{{ comment.date_added }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                    <br>
                </div>

            </div>
        </article>
        {% empty %}
        <div class="notification">
            <p>No Comments yet</p>
        </div>
    <hr>

    <div class="broder-top pt-3">
      <small class="text-muted"
        ><a href="{% url 'myblogApp-home' %}"><< Go Back</a></small
      >
      <i>"Please check our comments later..."</i>
      <br><br>
      
    </div>
    {% endfor %}


    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <a href="{% url 'myblogApp-home' %}"></a>
            </div>
        </div>
    </form>

    

    
            </article>
          

       




        </div>
        <div class="col-md-4" style="margin-top: 40px;">
          <div class="content-sectionw">
            <!-- <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p> -->

            
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;" style="padding-top: 120px;">
                <a id="list-group" style="text-decoration: none;" href="" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                  <!-- <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg> -->
                  <span class="fs-5 fw-semibold" id="gist-btn">Latest Posts</span>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                  <a href="#" class="list-group-item list-group-item-action  lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Seriously, Stop Trying to Teach Toddlers How to Code...By Mr.Dollars
                    </strong>
                      <small>Wed</small>
                    </div>
                    <div class="col-10 mb-1 small">AS A BABY nerd, I was obsessed with Hackers. The 1995 cult movie... </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Its not a bug - It's a feature... By Mr.Dollars</strong>
                      <small class="text-muted">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">When it comes to coding, everything works like a miracle, let me use that word...hahaha</div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Is it Okay for a born Again Christian to be rich with material wealth?... By Alal Susan</strong>
                      <small class="text-muted">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">When it comes to coding, everything works like a miracle, let me use that word...hahaha</div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Its not a bug - It's a feature... By Mr.Dollars</strong>
                      <small class="text-muted">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">When it comes to coding, everything works like a miracle, let me use that word...hahaha</div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">I wanted to be a great programmer but...By Mr.Dollars</strong>
                      <small class="text-muted">Mon</small>
                    </div>
                    <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">I wanted to be a great Django programmer but...By Mr.Dollars</strong>
                      <small class="text-muted">Sun</small>
                    </div>
                    <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
                  </a>

                </div>
              </div>
          </div>
        </div>
      </div>



        <footer class="" >
          <ul class="nav justify-content-center border-bottom"  style="margin-top: 60px;">
            <li class="nav-item"><a href="{% url 'myblogApp-home' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="admin/" class="nav-link px-2 text-muted">Admin</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="about/" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">&copy; Mr.Dollars Official Blog 2023</p>
        </footer>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>


           